@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

/* Page d'accueil */
footer
{
    position: relative;
    width: 100%;
    padding: 20px 50px;
    background: #100314;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
footer .wave
{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(images/wave.png);
    background-size: 1000px 100px;
}
footer .wave#wave1
{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animate 4s linear infinite;
}
footer .wave#wave2
{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate2 4s linear infinite;
}
footer .wave#wave3
{
    z-index: 998;
    opacity: 0.2;
    bottom: 15px;
    animation: animate 3s linear infinite;
}
footer .wave#wave4
{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate2 3s linear infinite;
}

@keyframes animate
{
    0%,100%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}
@keyframes animate2
{
    0%,100%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}
.social,
.menu
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
.social li,
.menu li
{
    list-style: none;
}
.social li a 
{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
.social li a:hover 
{
    transform: translateY(-10px);
}

.menu li a 
{
    font-size: 1.2em;
    color: #fff;
    opacity: 0.75;
    margin: 0 15px;
    text-decoration: none;
    display: inline-block;
}
.menu li a:hover 
{
    opacity: 1;
}
footer p 
{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    font-size: 1.1em;
}
body
{
  background: linear-gradient(180deg, rgba(43,16,85,1) 0%, rgba(28,5,34,1) 62%);
}
section
{
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
header .logo
{
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header ul
{
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li
{
  list-style: none;
  margin-left: 20px;
}
header ul li a
{
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}
header ul li a.active,
header ul li a:hover
{
  background: #fff;
  color: #2b1055;
}
section:before
{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top,#1c0522,transparent);
  z-index: 1000;
}
section img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
section img#moon
{
  mix-blend-mode: screen;
}
section img#mountains_front
{
  z-index: 10;
}

h2#text
{
  position: absolute;
  color: #fff;
  right: -750px;
  white-space: nowrap;
  font-size: 7.5vw;
  transform: translateY(0px);
}
#btn
{
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 40px;
  background: #fff;
  color: #2b1055;
  transform: translateY(100px);
  font-size: 1.5em;
  z-index: 9;
}
.sec
{
  position: relative;
  min-height: 500px;
  padding: 100px;
  background: #1c0522;
}
.sec h2
{
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
}
.sec p
{
  font-size: 1.2em;
  color: #fff;
}
#credits
{
  margin: 0%;
  font-size: 0.7em;
}

/* Page contact */
.contact
{
	position: relative;
	min-height: 100vh;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: url(bg.jpg);
	background-size: cover;
}
.contact .content
{
	max-width: 800px;
	text-align: center;
}
.contact .content h2
{
	font-size: 36px;
	font-weight: 500;
	color: #fff;
	text-align: center;
}
.contact .content p
{
	color: #fff;
	text-align: center;
	font-weight: 300;
}
.container
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
.container .contactInfo
{
	width: 50%;
	display: flex;
	flex-direction: column;
}
.container .contactInfo .box
{
	position: relative;
	padding: 20px 0;
	display: flex;
}
.container .contactInfo .box .icon
{
	min-width: 60px;
	height: 60px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;
}
.container .contactInfo .box .text
{
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	font-size: 16px;
	color: #fff;
	font-weight: 300;
}
.container .contactInfo .box .text h3
{
	font-weight: 500;
	color: #00bcd4;
}
.contactForm
{
	width: 40%;
	padding: 60px;
	background: #fff;
  border-radius: 20px;
}
.contactForm h2
{
	font-size: 30px;
	color: #333;
	font-weight: 500;
}
.contactForm .inputBox
{
	position: relative;
	width: 100%;
	margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
}
.contactForm .inputBox span
{
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:valid ~ span
{
	color: #e91e63;
	font-size: 12px;
	transform: translateY(-20px);
}
.contactForm .inputBox input[type=submit]
{
	width: 100px;
	background: #00bcd4;
	color: #fff;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
}
.contactForm .subject
{
  text-align: center;
  border: 0px;
  border-bottom: 2px solid #333;
  outline:none;
}

@media (max-width: 991px)
{
	.contact
	{
		padding: 50px;
	}
	.container
	{
		flex-direction: column;
	}
	.container .contactInfo
	{
		margin-bottom: 40px;
	}
	.container .contactInfo,
	.contactForm
	{
		width: 100%;
	}
}

/* Carte Cours */
.container
{
  margin: auto;
	position: relative;
	width: 1000px;
	display: flex;
	justify-content: space-around;
}
.container .cards
{
	position: relative;
	width: 300px;
	height: 400px;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
  border-radius: 10px;
}
.container .cards:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: rgba(255,255,255,.1);
	z-index: 20;
	pointer-events: none;
}
.container .cards:nth-child(1),
.container .cards:nth-child(1) .overlay
{
	background: linear-gradient(45deg,#3503ad,#f7308c)
}
.container .cards:nth-child(2),
.container .cards:nth-child(2) .overlay
{
	background: linear-gradient(45deg,#ccff00,#09afff)
}
.container .cards:nth-child(4),
.container .cards:nth-child(4) .overlay
{
	background: linear-gradient(45deg,#e91e63,#ffeb3b)
}
.container .cards:nth-child(5),
.container .cards:nth-child(5) .overlay
{
	background: linear-gradient(45deg,#e91e63,#ffeb3b)
}
.container .cards:nth-child(6),
.container .cards:nth-child(6) .overlay
{
	background: linear-gradient(45deg,#e91e63,#ffeb3b)
}
.container .cards .imgBox
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.container .cards .imgBox h2
{
	margin: 10px 0 0;
    padding: 0;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.container .cards .overlay
{
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	box-sizing: border-box;
	cursor: pointer;
	border-radius: 50%;
	transition: 0.5s;
}
.container .cards .overlay:hover
{
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	box-shadow: none;
	opacity: 0.9;
}
.container .cards .overlay:before
{
	content: 'Plus';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
	font-size: 900;
	display: flex;
	justify-content: center;
	align-items: center;
	transition-delay: 0.5s;
  border-radius: 0px;
}
.container .cards .overlay:hover:before
{
	display: none;
	transition-delay: 0s;
  border-radius: 0px;
}
.container .cards .content
{
	padding: 20px;
	box-sizing: border-box;
	z-index: 1;
	pointer-events: none;
	opacity: 0;
	visibility: hidden;
	transition: 0s;
	color: #fff;
  border-radius: 0px;
}
.container .cards .content h2
{
	margin: 0;
	padding: 0;
}
.container .cards .overlay:hover ~ .content
{
	opacity: 1;
	visibility: visible;
	transition: 0.2s;
	transition-delay: 0.5s;
}
.bt
{
  text-align: center;
  width: 100px;
  position: absolute;
}
.troistt
{
  margin-right: 65%;
  margin-top: 30%;
}
.quatrett
{
  margin-right: 35%;
  margin-top: 30%;
}
.cinqtt
{
  margin-right: 65%;
  margin-top: 45%;
}
.sixtt
{
  margin-right: 35%;
  margin-top: 45%;
}
.cinqtq
{
  margin-left: 35%;
  margin-top: 30%;
}
.sixtq
{
  margin-left: 65%;
  margin-top: 30%;
}

/* Parties classes */
/* 3TT */
#img3tt
{
  margin-left:20%;
  margin-top:5%;
  margin-bottom: 5%;
}